<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body style="font-family:Gotham, &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; background-color:#fff; margin:0; padding:0; color:#333333;">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td style="padding:40px 0;">
            <table cellpadding="0" cellspacing="0" width="608" border="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <a href="https://www.fun4you.de" style="display:block; width:407px; margin:0 auto 30px;">
                            <img src="https://www.fun4you.de/sites/all/themes/custom/fun4you/logo.png" width="200"
                                 alt="Fun4you logo" style="display:block; border:0; margin:0 auto;">
                        </a>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                            <div style="background: url(https://staging.fun4you.de/sites/all/modules/custom/f4u_checkout_reminder/templates/assets/slides.png) no-repeat; height: 100px;"></div>
                            <tr>
                                <td colspan="3" rowspan="3" bgcolor="#FFFFFF" style="padding:0 0 30px;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <p style="font-size:18px;line-height:1.5;margin:0 0 10px;color:#000;font-family:Verdana,Geneva,sans-serif;font-weight:normal;padding:0 20px; text-align: justify;">
                                            Lieber Kunde,
                                            gerade habe ich festgestellt, dass Sie Ihre Gutscheinbestellung leider nicht
                                            abgeschlossen haben.
                                            Ich möchte Sie gern fragen, woran es gelegen hat. Gibt es vielleicht offene
                                            Fragen oder trat ein Problem im Bestellvorgang auf?
                                            Ihre Rückmeldung hilft uns, unseren Kundenservice zu verbessern. Ich schenke
                                            Ihnen deshalb einen Rabatt in Höhe von <span
                                                style="font-weight: 900; color: #d72127;">10,00 EUR</span>, den Sie
                                            jetzt oder später einlösen können.
                                            Ihr Rabattcode lautet: <span style=" font-weight: 900;">NZPT-2988</span>
                                            Bis dahin wünsche ich Ihnen eine gute Zeit.
                                            Gerne stehen wir Ihnen für eventuelle Rückfragen zur Verfügung.
                                            <br/><br/>Mit freundlichen Grüßen
                                            Ihr Fun4You Team
                                            FUN4YOU e.K.
                                        </p>
                                        <p style="margin:0; border-top:2px solid #e5e5e5; font-size:5px; line-height:5px; margin: 30px 29px;">
                                            &nbsp;</p>

                                        <p style="font-size:12px;line-height:1.5;margin:0 0 10px;color:#000;font-family:Verdana,Geneva,sans-serif;font-weight:normal;padding:0 20px; text-align: justify;">
                                            Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte
                                            Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail
                                            irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und
                                            vernichten Sie diese Mail. Das unerlaubte Kopieren sowie die unbefugte
                                            Weitergabe dieser Mail ist nicht gestattet. </p>

                                        <p style="font-size:12px;line-height:1.5;margin:0 0 10px;color:#000;font-family:Verdana,Geneva,sans-serif;font-weight:normal;padding:0 20px; text-align: justify;">
                                            This e-mail may contain confidential and/or privileged information. If you
                                            are not the intended recipient (or have received this e-mail in error)
                                            please notify the sender immediately and destroy this e-mail. Any
                                            unauthorized copying, disclosure or distribution of the material in this
                                            e-mail is strictly forbidden.
                                        </p>
                                    </table>
                                    <div style="width: 600px; height: 126px; background: url(https://staging.fun4you.de/sites/all/modules/custom/f4u_checkout_reminder/templates/assets/bow.png);">
                                        &nbsp;
                                    </div>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                           style="margin-top: -34px;">
                                        <tbody>
                                        <tr valign="top">
                                            <td width="20"><p style="margin:0; font-size:1px; line-height:1px;">
                                                &nbsp;</p></td>
                                            <td>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    August-Wilhelm-Kühnholz-Straße 58
                                                </p>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    26135 Oldenburg</p>
                                                <p style=" font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Tel. : +49 441 / 24 81 81</p>
                                                <p style=" font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Fax : +49 441 / 24 81 82</p>
                                                <p style=" font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    E-Mail: info@fun4you.de</p>
                                                <p style=" font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Internet: www.fun4you.de</p>
                                                </p>
                                            </td>
                                            <td width="30"><p style="margin:0; font-size:1px; line-height:1px;">
                                                &nbsp;</p></td>
                                            <td>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Sitz der Gesellschaft: Oldenburg</p>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    USt-ID: DE 117 148 298</p>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Handelsregister: Amtsgericht Oldenburg, HRA 205252</p>
                                                <p style="font-weight:bold; color:#333333; font-size:12px; line-height:1;">
                                                    Geschäftsführer: Rainer Kondziella</p>
                                                <a href="https://www.fun4you.de"><img width="170px"
                                                                                      src="https://staging.fun4you.de/sites/all/modules/custom/f4u_checkout_reminder/templates/assets/fun4you_logo.png"></a>
                                            </td>
                                            <td width="30"><p style="margin:0; font-size:1px; line-height:1px;">
                                                &nbsp;</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>